<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"></ion-buttons>
    <ion-back-button text=""></ion-back-button>
    <ion-title>My sales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-shared-component [hasFooter]="true" product="RX-7" brand="Mazda" soldAt="02/01/2023" notes="Model 2001, Semi-New, 5.200km driven" price="120.000,00" ></app-shared-component>

  <app-shared-component [hasFooter]="true" product="Lancer Evo" brand="Mitsubishi" soldAt="05/01/2023" notes="Model 2006, Used, 15.500km driven" price="50.000,00" ></app-shared-component>

  <app-shared-component [hasFooter]="true" product="Beatle" brand="Volkswagen" soldAt="15/01/2023" notes="Model 2001, used, 150.020km driven" price="5.000,00" ></app-shared-component>

</ion-content>
