<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      New Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-thumbnail class="user-image">
  <img src="" alt="">
</ion-thumbnail>

<ion-row class="photo-wrapper">
  <ion-button fill="clear">Add Photo</ion-button>
</ion-row>

<form [formGroup]="createContactForm" #createForm="ngForm" (ngSubmit)="createContact(createContactForm.value)">
<ion-list>
  <ion-item>
    <ion-input placeholder="Name" inputmode="text" clearInput="true" formControlName="name" required>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Last Name" inputmode="text" clearInput="true" formControlName="lastname" required>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Phone" inputmode="text" clearInput="true" formControlName="phone" required>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="E-mail" inputmode="text" clearInput="true" formControlName="email" required>
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Category</ion-label>
    <ion-select placeholder="Select" formControlName="category">
      <ion-select-option value="Family">Family</ion-select-option>
      <ion-select-option value="Friend">Friend</ion-select-option>
      <ion-select-option value="Coworker">Coworker</ion-select-option>
      <ion-select-option value="Others">Others</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
  <ion-buttons>
    <ion-button color="primary" type="submit" [disabled]="!createContactForm.valid" buttonType="submit">Save</ion-button>
  </ion-buttons>
</ion-item>
</ion-list>
</form>
</ion-content>
