<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<form [formGroup]="searchFG" #searchFGD="ngForm" (ngSubmit)="search(searchFG.value)">
  <ion-item>
    <ion-input formControlName="name" placeholder="Enter with the name" required></ion-input>
      <ion-button color="secondary" type="submit" [disabled]="">Find
        <ion-icon slot="end" name="search-outline"></ion-icon>
      </ion-button>
  </ion-item>
</form>
</ion-content>
