ion-button[color="tertiary"]{
  text-transform: uppercase;
}
ion-button[color="primary"]{
  text-transform: uppercase;
  margin-top: 30px;
}

ion-button[color="danger"]{
  text-transform: initial;
}


ion-content {
  --background: var(--ion-color-tertiary);
}

ion-card {
  width: 120%;
  margin-left: -10%;
}

ion-card-header{
  margin-bottom: 10px;
}
