<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>User registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title color="secondary">Create a Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item color="dark">
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title color="secondary">User Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item color="dark">
        <ion-label position="floating">CPF</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title color="secondary">Address Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item color="dark">
        <ion-label position="floating">Postal-Code</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label position="floating">City</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label position="floating">State</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label position="floating">District</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label position="floating">Street</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-label position="floating">Number</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button size="full" color="tertiary" (click)="register()">Register</ion-button>

</ion-content>
