<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="primary">
    <ion-item color="primary">
      <ion-avatar slot="start">
        <img src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png" alt="">
      </ion-avatar>
      <ion-label>
        <h1> John Doe </h1>
        <p>Gathered: <span class="money">$ 15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

<app-shared-component [hasHeader]="true" [hasFooter]="true" product="RX-7" brand="Mazda" soldAt="02/01/2023" notes="Model 2001, Semi-New, 5.200km driven" price="120.000,00">
  <ion-card-header color="dark">
    <ion-card-subtitle style="color:gray;">Last sell</ion-card-subtitle>
  </ion-card-header>
</app-shared-component>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="newSale()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
