<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Sale details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card color="dark">
    <ion-card-content color="dark">
      <p>details</p>
    </ion-card-content>
  </ion-card>
  <ion-list color="dark" color="dark">
    <ion-item color="dark" lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="primary">Add a note</ion-button>
  <ion-button size="full" color="tertiary" fill="clear">Back to sales</ion-button>
</ion-content>
